<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	
    <!-- Define your beans here -->
    
	<!-- CONFIGURE OBJECTS FOR DEPENDENCIES -->
	
	<bean id="employee1" class="orgnization.ContractEmployee"></bean>
    
    <bean id="employee2" class="orgnization.PermanentEmployee"></bean>
    

	<!-- CONFIGURE MAIN ENTITIES -->
	
	<bean id="company1" class="orgnization.ServiceBasedCompany">
		<property name="employeeRef" ref="employee2"></property>
	</bean>
	
	<bean id="company2" class="orgnization.ProductBasedCompany">
		<property name="employeeRef" ref="employee1"></property>
	</bean>
</beans>





