<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
    	http://www.springframework.org/schema/beans/spring-beans.xsd
    	http://www.springframework.org/schema/context
    	http://www.springframework.org/schema/context/spring-context.xsd
    	http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- STEP-3 ADD SUPPORT FOR COMPONENT SCANNING -->
	<context:component-scan base-package="org.springdemo.mvcprograms"></context:component-scan>

	<!-- STEP-4 ADD SUUPORT FOR FORMATTING, CONVERSION & VALIDATION -->
	<mvc:annotation-driven></mvc:annotation-driven>
	
	<!-- STEP-5 DEFINE SPRING MVC VIEW RESOLVER -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
</beans>





